body {
    font-family: 'Noto Sans', sans-serif;
}


/* 1. ALERTS */

div.first {
    padding: 12px;
    margin-bottom: 20px;
    margin-right: 100px;
    border: 1.5px solid #1F4690;
    border-radius: 5px;
    background: rgba(0, 0, 255, 0.2);
    color: #1F4690; 
    font-size: 15px; 
    cursor: pointer;
}

div.second {
    padding: 12px;
    margin-bottom: 20px;
    margin-right: 100px;
    border: 1.5px solid rgb(23, 92, 21);
    border-radius: 5px;
    background: rgba(0, 255, 0, 0.2);
    color: rgb(23, 92, 21); 
    font-size: 15px; 
}

div.third {
    padding: 12px;
    margin-bottom: 20px;
    margin-right: 100px;
    border: 1.5px solid rgb(71, 70, 11);
    border-radius: 5px;
    background: rgba(233, 231, 112, 0.87);
    color: rgb(71, 70, 11); 
    font-size: 15px; 
}

div.four {
    padding: 12px;
    margin-bottom: 20px;
    margin-right: 100px;
    border: 1.5px solid #990000;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.2);
    color:#990000; 
    font-size: 15px; 
}


/* 2.A. BUTTONS */

.button {
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 15%;
    transition-duration: 0.4s;
} 

.buttona1 {
    background-color: #3A5BA0; 
    border: 2px solid #3A5BA0; 
    color:aliceblue; 
    text-align: center;
}
.buttona1:hover {
    background-color: white; 
    color: black; 
}

.buttona2 {
    background-color: #73777B; 
    border: 2px solid #73777B; 
    color:aliceblue; 
    text-align: center;
}
.buttona2:hover {
    background-color: white; 
    color: black; 
}

.buttona3 {
    background-color: #4B8673; 
    border: 2px solid #4B8673; 
    color:aliceblue; 
    text-align: center;
}
.buttona3:hover {
    background-color: white; 
    color: black; 
}

.buttona4 {
    background-color: #990000; 
    border: 2px solid #990000; 
    color:aliceblue; 
    text-align: center;
}
.buttona4:hover {
    background-color: white; 
    color: black; 
}

.buttona5 {
    background-color: #FFEE63; 
    border: 2px solid #FFEE63; 
    color:black; 
    text-align: center;
}
.buttona5:hover {
    background-color: white; 
    color: black; 
}

.buttona6 {
    background-color: #C6DCE4; 
    border: 2px solid #C6DCE4; 
    color:black; 
    text-align: center;
}
.buttona6:hover {
    background-color: white; 
    color: black; 
}

.buttona7 {
    background-color: #F9F9F9;  
    color:black; 
    text-align: center;
}
.buttona7:hover {
    background-color: white; 
    border: 2px solid #73777B;
    color: black; 
}

.buttona8 {
    background-color: #000000; 
    border: 2px solid #000000; 
    color:aliceblue; 
    text-align: center;
}
.buttona8:hover {
    background-color: white; 
    color: black; 
}

.buttona9 {
    background-color: #3A5BA0; 
    border: 2px solid #3A5BA0; 
    color:aliceblue; 
    text-align: center;
}
.buttona9:link {
    background-color: white; 
    color: blue; 

}

/* 2.c Disabled Button */

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

/* 2.e Icon button */

.icon {
    color:#73777B;
    border:none; 
    background-color:white;
    padding:none;
    font-size: 30px;
    cursor: pointer;
}
.icon:hover {
    color:#000000;
}

.icon4 {
    color:blueviolet;
}
.icon5 {
    color:darkcyan;
}


/* 3. LIST */

/* a. Unorder list */

.items {
    border: 1px solid #73777B;
    width: 15rem;
    padding: 1rem;
    cursor: pointer; 
    transition-duration: 0.4s;
}
.items:hover {
    background-color: #DF7861;
    color: white;
}

#item1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#item5 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
