* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Google Sans;
}

h1 {
    font-size: 25px;
    margin: 1rem;
}

h2 {
    font-size: 20px;
    margin: 1rem 2rem;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}

.alert {
    display: flex;
    width: 25rem;
    height: 3rem;
    padding: 1.5rem;
    margin: 1rem;
    align-items: center;
    justify-content: start;
}

#alert1 {
    background-color: hsla(240, 93%, 68%, 0.915);
    color: rgb(56, 56, 177);
}

#alert2 {
    background-color: hsl(120, 4%, 61%);
    color: hsla(120, 28%, 37%, 0.596);
}

#alert3 {
    background-color: hsl(60, 86%, 71%);
    color: hsl(60, 96%, 36%);
}

#alert4 {
    background-color: hsl(0, 87%, 76%);
    color: rgb(209, 81, 81);
}

#icon {
    padding-right: 0.5rem;
}

.ex2-container {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}

.button {
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 6%;
    padding: 0.75rem 1.25rem;
    color: black;
}

.button:not(#btn9) {
    text-decoration: none;   
}

#btn1 {
    background-color: blue;
    color: white;
}

#btn2 {
    background-color: hsl(120, 5%, 44%);
    color: white
}

#btn3 {
    background-color: rgb(95, 173, 95);
    color: white;
}

#btn4 { 
    background-color: rgb(247, 99, 99);
    color: white;
}

#btn5 {
    background-color: yellow;
}

#btn6 {
    background-color: cyan;
}

#btn7 {
    background-color: rgb(226, 232, 232);
}

#btn8 { 
    background-color: black;
    color: white;
}

#btn9 { 
    color: blue;
}

#btn1b {
    border: 2px solid blue;
    color: blue;
}

#btn2b {
    border: 2px solid hsl(120, 5%, 44%);
    color: hsl(120, 5%, 44%);
}

#btn3b {
    border: 2px solid rgb(95, 173, 95);
    color: rgb(95, 173, 95);
}

#btn4b { 
    border: 2px solid rgb(247, 99, 99);
    color: rgb(247, 99, 99);
}

#btn5b {
    border: 2px solid yellow;
    color: yellow;
}

#btn6b {
    border: 2px solid cyan;
    color: cyan;
}

#btn7b {
    border: 2px solid rgb(226, 232, 232);
    color: rgb(226, 232, 232);
}

#btn8b { 
    border: 2px solid black;
    color: black;
}

#btn9b { 
    color: blue;
}

#primary-btn {
    background-color: blue;
    color: white;
    border-radius: 7%;
}

#disabled-btn { 
    background-color: #b7b7b7;
    border-radius: 5px;
    margin-right: 77rem;
    padding: 0.75rem 1.25rem;
}

#delete-btn {
    border: 2px solid blue;
    color: blue;
}

#send-icon {
    padding-left: 0.5rem;
}

#send-btn {
    background-color: blue;
    color: white;
    margin-right: 77rem;
}

#disabled-trash {
    margin-right: 100rem;
}

.ex3-container {
    margin-left: 1rem;
}

.unordered-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.ul-items {
    display: flex;
    align-items: start;
    padding: 0.5rem 1rem;
    width: 15rem;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.ul-items:hover:not(#disabled-item) {
    background-color: blue;
    color: white;
}

button:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#disabled-item {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.ul-items:focus {
    background-color: blue;
    color: white;
}



