* { 
    margin: 0;
}
div {
    display: flex;
    justify-content: center;
    color: white;
    /* flex-wrap: wrap; */

} 
.layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
 
   
}
:root{
    --spacing: 2px;

}
.flex-col {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 600px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;

}

.flex-row-end {
    justify-content: end;
    flex-direction: row;
    display: flex;
    /* width: 100%; */
    width: 100%;
    margin: 5px 0 5px 0;
}
.flex-row-end-2 {
    justify-content: end;
    flex-direction: row;
    display: flex;
    /* width: 100%; */
    width: 100%;
    margin: 0 0 5px 0px;
}


.flex-col-between {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
}

.bonus-comp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}
.bonus-comp-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 400px ;
}
.feature {
    height: 50px;
    width: 100px;
    background-color: red;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-left : 5px;
}
.feature[id="3"]{
    /* margin: 5px 0px; */
}
.bonus {
    background-color: pink;
    width: 100px;
    box-sizing: border-box;
    padding: 10px 10px;
    /* margin: 5px 0; */
}

.products {
    height: 100px;
    width: 400px;
    background-color: blue;
    box-sizing: border-box;
    padding: 5px 10px;

}

.sidebar {
    background-color: green;
    width: 90px;
    height: 100%;
    /* margin-right: 5px ; */
    box-sizing: border-box;
    padding: 5px 10px;
  
}

.header {
    background-color: grey;
    width: calc(60% - 15px);

    /* box-sizing: border-box; */
    padding : 10px 10px ;
    margin: 0 0 5px 5px;
}

.fm {
    background-color: brown;
    width: 40%;

    box-sizing: border-box;
    padding: 10px 10px;
    margin: 0 0 5px 0;
}

.footer {
    background: orange;
    width: 505px;
    box-sizing: border-box;
    padding: 10px 10px;
    /* margin: 0 2px; */
} 