*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Google Sans;
    color: white;
    text-decoration: none;   
    list-style: none; 
}

:root{
    --navbar-color: rgb(58, 57, 57);
    --background-color: #2b2a2a;
    --card-color: #282a36;
}

button {
    border: none;
    background: none;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

.container {
    padding: 25px 4px;
    background-color: var(--navbar-color);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 35%;
    display: flex;
}

.navbar-contents {
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-size: 30px;
    margin: 0 100px 0 30px;
}

.navbar-items{
    position: relative;
    padding: 8px 15px; 
    cursor: pointer;
}

.navbar-items:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 95px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

.dropdown:focus-within > ul{
    top: 63px;
    opacity: 1;
    visibility: visible;
}

.dropdown-items {   
    background-color: #333;
    padding: 20px;
}

.dropdown-items:hover {
    color: cyan;
}

.search {
    margin: 15px;
}

.card {
    position: relative;
    width: 350px;
    height: 190px;
    background: var(--card-color);
    border-radius: 20px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.15);
    transition: .3s;
}

.decor-elements {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff5f5a;
    top: 15px;
    left: 15px;
    box-shadow: 15px -1px 0px 0px #ffbe2e,
                30px -1px 0px 0px #2aca44;
}

.img-container {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(/avatar.jpg);
    background-size: cover;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 15px 10px rgba(0,0,0,0.15);
    transition: .5s;
}

.card:hover {
    height: 360px
}

.card:hover .img-container{
    width: 200px;
    height: 200px;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.details {
    padding: 20px;
    text-align: center;
    width: 100%;
    transition: .3s;
    transform: translateY(130px);
}

.details h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
}

.details h2 span{
    font-weight: 300;
    opacity: 0.5;
}

.more-details {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}

.more-details h3 {
    width: 90px;
    height: 50px;
    padding: 5px;
    background-color: white;
    font-weight: 300;
    color:rgb(58, 57, 57);
    border-radius: 10px;
}

.more-details h3:nth-child(1) {
    background-color: rgba(42, 202, 68, 0.75);
}

.more-details h3:nth-child(1):hover {
    background-color: rgba(42, 202, 68, 1);
}

.more-details h3:nth-child(2) {
    background-color: rgba(255, 190, 46, 0.75);
}

.more-details h3:nth-child(2):hover {
    background-color: rgba(255, 190, 46, 1);
}

.more-details h3:nth-child(3) {
    background-color: rgba(255, 95, 90, 0.75);
}

.more-details h3:nth-child(3):hover {
    background-color: rgba(255, 95, 90, 1);
}



button i{
    margin: 10px
}

.card:hover .details{
    transform: translateY(0px);
}

